@import-normalize; /* bring in normalize.css styles */

*,
*:after,
*:before {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  color: #292256;
  background-image: linear-gradient(
    to bottom,
    #292256 0%,
    #8446cf 70%,
    #a871d6 100%
  );
  font-family: 'Work Sans', sans-serif;
  background-repeat: no-repeat;
  
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

li {
  list-style: none;
}

p {
  margin-block: 0;
}

ul {
  margin-block: 0;
  padding-left: 0;
}

